[submodule "libs/atomic"]
	path = libs/atomic
	url = git@github.com:bytemaster/boost_atomic.git
[submodule "libs/context"]
	path = libs/context
	url = git@github.com:bytemaster/boost_context.git
[submodule "libs/reflect"]
	path = libs/reflect
	url = git@github.com:bytemaster/boost_reflect.git
[submodule "libs/cmt"]
	path = libs/cmt
	url = git@github.com:bytemaster/Boost.CMT.git
[submodule "libs/rpc"]
	path = libs/rpc
	url = git@github.com:bytemaster/Boost.RPC.git
[submodule "libs/json"]
	path = libs/json
	url = git@github.com:bytemaster/json.git
