---
layout: default
---
<div id="content">
    <h1><a href="{{ page.url }}">
        {{ page.title }}</a>
        <span class="med">&nbsp;:&nbsp; </span>
        <span class="light">{{page.subtitle}}</span>
    </h1>
    <h2>
        Published on {{ page.date | date_to_long_string }}
    </h2>

    {{content}}
    
    <div id="disqus_thread"><h1>Comments</h1></div>
        <script type="text/javascript" src="http://disqus.com/forums/bawesome/embed.js"></script>
    <noscript><p>
        <a href="http://disqus.com/forums/bawesome/?url=ref">View the discussion thread.</a>
    </p></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
